body {
    text-align:center;
width: 500px;
height: 1000px;
background-color: black;
color:yellow;
display: grid;

}

h1 {
    color: white;
    padding-left: 30px;
}

small {
    color: antiquewhite;
    margin-left: 100px;
}

/* div {
    padding: 10px;
} */

.f1 {
    border: 3px solid red;
    
}

.f2 {
    border: 3px solid pink;
    
}

.f3 {
    border: 3px solid blue;
   
}

.f4 {
    border: 3px solid violet;
    
}

.f5 {
    border: 3px solid green;
    
}

.f6 {
    border: 3px solid orange;
}

.f7 {
    border: 3px solid aqua;
}

.f8 {
    border: 3px solid white;
}

.m1  {
    width: 50px;
    height: 30px;
    line-height: 30px;
    display: inline-block;
    background-color:lightskyblue;
    margin-right: 10px;
    text-align: center;
    border-radius: 5px;
    position: relative;
}

.m1 a:hover {
   background-color:deeppink;


}

.m1 a{
    text-decoration: none;
    color:plum
    

}